
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.conteiner{
    max-width: 600px;
    min-height: 700px;
    border: 2px solid #009F44;
    border-radius: 24px 24px 24px 24px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header{
    height: 150px;
}

header img{
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

main{
    padding: 18px;
    background-color: #F8F1B0;
    min-height: 425px;
    
}




h1{
    text-align: center;
    margin-top: -8px;
    margin-bottom: 23px;
}


#namename{
    margin-top: 20px;
    margin-bottom: 18px;

}

#cpfcpf{
    margin-top: -16px;
    margin-bottom: 18px;
    
}
   
    #Nome{
        width: 80%;
        height: 50px;
        font-size: 1.5rem;
        border: 2px solid #009F44;
        border-radius: 18px 18px 18px 18px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        margin-top: -20px;
        margin-bottom: 30px;
    
    }

    #form{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        min-height: 400px;
        align-items: center;
        width: 100%;
        height: 50px;
        font-size: 1.5rem;
        border: 2px solid #009F44;
        border-radius: 18px 18px 18px 18px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        margin-top: -20px;
        margin-bottom: 30px;
        
       
    
    }
    
    #CPF{
        width: 200px;
        height: 50px;
        font-size: 1.5rem;
        border: 2px solid #009F44;
        border-radius: 18px 18px 18px 18px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        margin-top: -20px;
        
        
    }





#Concluir{
    padding: 10px;
    height: 45px;
    cursor: pointer;
    margin: 15px;
    width: 200px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 35px;
    font-family: "Iceland", sans-serif;
    font-weight: 600;
    font-style: normal;
    
    
    
}

#Concluir:active {
    box-shadow: inset 2px 2px 4px #222;
    font-size: 1.27rem;
  }

#Concluir:hover{
    border: 2px solid;
}

#Concluir:hover:disabled{
    cursor: not-allowed;
}
#Concluir:active:disabled{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.3rem;
}





@media(max-width:538px){
    main button{
        margin: 3px;
    }
    main{
        min-height: 200px;
    }
    .conteiner{
        min-height: 450px;
        width: 100%;
    }

    
}

@media(max-width:460px){
    
    main{
        min-height: 200px;
    }
    .conteiner{
        min-height: 300px;
        width: 100%;
    }
}

@media(max-width:420px){
    
    main{
        min-height: 120px;
    }
    .conteiner{
        min-height: 250px;
        width: 100%;
    }
}