
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.conteiner{
    max-width: 600px;
    min-height: 900px;
    border: 2px solid #009F44;
    border-radius: 24px 24px 24px 24px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header{
    height: 150px;
}

header img{
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

main{
    padding: 18px;
    background-color: #F8F1B0;
    min-height: 525px;

}

main button{
    cursor: pointer;
    background-color: transparent;
    color: red;
    border-color: rgb(184, 181, 181);
    font-size: 1.1em;
    margin: 7px;
    margin-top: 47px;
    border-radius: 5px;
    padding: 5px;
}

main button:active{
    font-size: 1rem;
}



#finAposta{
    padding: 10px;
    height: 45px;
    cursor: pointer;
    margin: 15px;
    width: 200px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 35px;
    font-family: "Iceland", sans-serif;
    font-weight: 600;
    font-style: normal;
    
    
    
}

#apostarNovamente{
    padding: 10px;
    height: 45px;
    cursor: pointer;
    margin: 15px;
    width: 200px;
    font-size: 1.0rem;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 35px;
    font-family: "Iceland", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}


#supresinha{
    padding: 10px;
    height: 45px;
    cursor: pointer;
    margin: 15px;
    width: 200px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 35px;
    font-family: "Iceland", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}

#supresinha:active {
    box-shadow: inset 2px 2px 4px #222;
    font-size: 1.27rem;
  }

  #supresinha:hover{
    border: 2px solid;
}

#supresinha:active:disabled{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.3rem;
}



#finAposta:active {
    box-shadow: inset 2px 2px 4px #222;
    font-size: 1.27rem;
  }

#finAposta:hover{
    border: 2px solid;
}

#finAposta:active:disabled{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.3rem;
}

#apostarNovamente:active:disabled{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 0.9rem;
}

#apostarNovamente:active {
    box-shadow: inset 2px 2px 4px #222;
    font-size: 0.87rem;
  }

  #apostarNovamente:hover{
    border: 2px solid;
}

.NumEscolhidos{
    display: flex;
    justify-content: space-around;
    align-items: start;
    height: 55px;
    margin-top: 40px;

}

.NumEscolhidos .Escolhido{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 1.5em;
    color: #ffffff;
    background-color: #009F44;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media(max-width:538px){
    main button{
        margin: 3px;
    }
    main{
        min-height: 200px;
    }
    .conteiner{
        min-height: 450px;
        width: 100%;
    }

    
}

@media(max-width:460px){
    main button{
        margin: 1px;
    }
    main{
        min-height: 200px;
    }
    .conteiner{
        min-height: 300px;
        width: 100%;
    }
}

@media(max-width:420px){
    main button{
        margin: 0.2px;
        font-size: 0.9rem;
        padding: 1px;
    }
    main{
        min-height: 120px;
    }
    .conteiner{
        min-height: 250px;
        width: 100%;
    }
}